# Mengaktifkan modul rewrite
RewriteEngine On
RewriteBase /toko-online-allinone/

# Arahkan permintaan frontend ke file yang sesuai di views/
RewriteRule ^login$ views/auth/loginScreen.php [L]
RewriteRule ^register$ views/Auth/registerScreen.php [L]
RewriteRule ^home$ views/Home/homeScreen.php [L]
RewriteRule ^cart$ views/cart/cartScreen.php [L]
RewriteRule ^historyOrder$ views/history/historyScreen.php [L]
RewriteRule ^user-dashboard$ views/admin/user-dashboard.php [L]
RewriteRule ^category-dashboard$ views/admin/category-dashboard.php [L]


# # Untuk backend, pastikan permintaan menuju index.php untuk diproses lebih lanjut
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^backend/([a-zA-Z0-9_-]+)/?([0-9]*)$ index.php?page=backend/$1&id=$2 [QSA,L]
